/**
*
* Global
*
**/

* {
  @include prefixr(box-sizing, border-box);
}

html, body, button {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

main {
  @include medium-only {
    padding-top: 1em !important;
  }
  @include small-only {
    padding-top: 1em !important;
  }
}

body {
  font-family: $fontDefault;
  font-size: $fontBase;
  line-height: 1.6250em; /* 26px */
  font-weight: 300; // to thicken it a bit, we need to remove font-smoothing
  color: $colorText;
  @include baseline-grid();
}

pre {
  background: $colorGrayBackground;
  padding: 13px;
}

.main-container {
  @include container(true);
}

.container {
  @include container(true);
}

.container-medium {
  @include medium {
    @include container(true);
  }
}

.container-small {
  @include small-only {
    @include container(true);
  }
}

.content {
  @include wide {
    margin-right: 25.9%; // took this from the grid output - using @extend inside media-query is deprecated, need to figure out a better way to do this.

    & pre {
      margin-right: -25.9%;
    }
  }
}
#instafeed {
  margin: 3em 0 0 0;

  @include small-only {
    margin-top: 1em;
  }

  .tile {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #222;
    @media only screen and (min-width: 480px) {
      width: 50%;
    }
    @media only screen and (min-width: 768px) {
      width: 33.33%;
    }
    img {
      margin: 0;
      padding: 0;
      width: 100%;
      height: auto;
    }
  }
}

html, body, main {
  background-color: #222 !important;
}